*{
    font: 24px Verdana;
    
}
.pierwiastek{
    z-index: 1;
    position: absolute;
}
.pierwiastek:hover{
    z-index: 2;
    transform: scale(1.2);
    transition: linear;
    transition-duration: 200ms;
    /*border: 2px #58595B solid;*/
    transform-origin: center;
}
#pokazanyPierw>img{
    width: 10%;
    position: fixed;
    top: 30px;
    left: 400px;
}





.content_table th, .content_table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

#wodor{
    top: 28px;
    left: 19px;
}
#hel{
    top: 28px;
    right: 6px;
}
#lit{
    top: 101px;
    left: 19px;
}
#beryl{
    top: 101px;
    left: 78.5px;
}
#bor{
    top: 101px;
    right: 300px;
}
#wegiel{
    top: 101px;
    right: 241px;
}
#azot{
    top: 101px;
    right: 182px;
}
#tlen{
    top: 101px;
    right: 123px;
}
#fluor{
    top: 101px;
    right: 65px;
}
#neon{
    top: 101px;
    right: 6px;
}
#sod{
     top: 174px;
     left: 19px;
}
#magnez{
    top: 174px;
    left: 78.5px;
}
#glin{
    top: 174px;
    right: 300px;
}
#krzem{
    top: 174px;
    right: 241px;
}
#fosfor{
    top: 174px;
    right: 182px;
}
#siarka{
    top: 174px;
    right: 123px;
}
#chlor{
    top: 174px;
    right: 65px;
}
#argon{
    top: 174px;
    right: 6px;
}
#potas{
    top: 246px;
    left: 19px;
}
#wapn{
    top: 246px;
    left: 78.5px;
}
#skand{
    top: 246px;
    left: 136.5px;
}
#tytan{
    top: 246px;
    left: 195px;
}
#wanad{
    top: 246px;
    left: 254px;
}
#chrom{
    top: 246px;
    left: 313px;
}
#mangan{
    top: 246px;
    left: 372px;
}
#zelazo{
    top: 246px;
    left: 430px;
}
#kobalt{
    top: 246px;
    left: 489px;
}
#nikiel{
    top: 246px;
    left: 548px;
}
#miedz{
    top: 246px;
    left: 607px;
}
#cynk{
    top: 246px;
    left: 666px;
}



#gal{
    top: 246px;
    right: 300px;
}
#german{
    top: 246px;
    right: 241px;
}
#arsen{
    top: 246px;
    right: 182px;
}
#selen{
    top: 246px;
    right: 123px;
}
#brom{
    top: 246px;
    right: 65px;
}
#krypton{
    top: 246px;
    right: 6px;
}
#rubid{
    top: 319px;
    left: 19px;
}
#stront{
    top: 319px;
    left: 78.5px;
}
#ind{
    top: 319px;
    right: 300px;
}
#cyna{
    top: 319px;
    right: 241px;
}
#antymon{
    top: 319px;
    right: 182px;
}
#tellur{
    top: 319px;
    right: 123px;
}
#jod{
    top: 319px;
    right: 65px;
}
#ksenon{
    top: 319px;
    right: 6px;
}
#cez{
    top: 392px;
    left: 19px;
}
#bar{
    top: 392px;
    left: 78.5px;
}
#tal{
    top: 392px;
    right: 300px;
}
#olow{
    top: 392px;
    right: 241px;
}
#bizmut{
    top: 392px;
    right: 182px;
}
#polon{
    top: 392px;
    right: 123px;
}
#astat{
    top: 392px;
    right: 65px;
}
#radon{
    top: 392px;
    right: 6px;
}
#frans{
    top: 465px;
    left: 19px;
}
#rad{
    top: 465px;
    left: 78.5px;
}
#nihon{
    top: 465px;
    right: 300px;
}
#flerov{
    top: 465px;
    right: 241px;
}
#moscov{
    top: 465px;
    right: 182px;
}
#liwermor{
    top: 465px;
    right: 123px;
}
#tenes{
    top: 465px;
    right: 65px;
}
#oganeson{
    top: 465px;
    right: 6px;
}